			<div class="sidebar">
 				<div class="logo">
                	<img alt="Book Dash" src="/images/book-dash-logo.png" />
                </div><!--.logo-->
            	<ul class="menu">
                	<li><a href="/">Home</a></li>
                    <li><a href="/sponsor">Sponsor</a></li>
                    <li><a href="/books">Our books</a></li>
					<li><a href="/contact">Contact us</a></li>
                </ul>
				<div class="join-mail-list">
					<a class="sidebar-button" href="http://eepurl.com/SsROP">Join our mailing list</a>
				</div><!--.join-mail-list-->
                <div class="social-media-buttons">
                	<a title="Twitter" href="http://twitter.com/bookdash"><img alt="Twitter" src="/images/twitter_alt.png" /></a>
                    <a title="Facebook" href="http://facebook.com/bookdash"><img alt="Facebook" src="/images/facebook_alt.png" /></a>
                    <a title="Email team@bookdash.org" href="mailto:team@bookdash.org"><img alt="Email team@bookdash.org" src="/images/email-icon.png" /></a>
                </div>
				<div class="supporters">
                	<h2>Supporters say</h2>
					<p><img alt="Helen Brain" src="/images/helen-brain_100px.png" /><br />
                    &lsquo;Thanks for a great day. So nice to work with people instead of alone.&rsquo;—<a href="http://www.helenbrain.co.za/">Helen Brain</a></p>
                    <p><img alt="Diane Awerbuck" src="/images/diane-awerbuck_100px.png" /><br />
                    &lsquo;Finally – a chance for writers and readers to be on the same page. Creative collaboration makes better books.&rsquo;—<a href="http://en.wikipedia.org/wiki/Diane_Awerbuck">Diane Awerbuck</a></p>
                    <p><img alt="Vian Oelofsen" src="/images/vian-oelofsen_100px.png" /><br />
                    &lsquo;What a fantastically creative day! Loved it and am looking forward to the next one.&rsquo;—<a href="http://www.vian.co.uk/">Vian Oelofsen</a></p>
                    <p><img alt="Liesl Jobson" src="/images/liesl-jobson_100px.png" /><br />
                    &lsquo;Thank you, Book Dash. Awesome vision. Cool team.&rsquo;—<a href="http://twitter.com/LieslJobson">Liesl Jobson</a></p>
				</div><!--.supporters-->
            </div><!--.sidebar-->

